RewriteEngine On

# Permitir acceso a archivos CSS, JS e imágenes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todo a index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
